<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Google map API and key -->
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxBlIrPB6Cruhy5JHyTQO78wXKHiIj_mo"></script>
      <!-- For the jquery -->
      <script src="/static/js/jquery-3.2.0.min.js"></script>
      <!-- This is to get the _.ForEach working in the javaScript file -->
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
      <link href="/static/Style.css" rel="stylesheet" type="text/css">
      <link rel="icon" href="data:;base64,iVBORw0KGgo=">
      <title>Dublin Bikes</title>
   </head>
   <body>
       <header>
    <img src="../static/logo.jpg" alt="BikeLogo" style="float: right; width: 200px; height: 90px; border: none; margin-top: 8px;">
  <h1>Dublin Bikes</h1>
       </header>
       <br><br>
      <div class="container">
<!-- Display the map -->
            <div class="inline" id="map" style="width:100%;height:500px;">
               <script src="/static/js/mainScript.js"></script>
            </div>
            <!-- Getting live weather data -->
            <div class="weatherDiv">
            <h2> The current weather is: </h2>
            <div id="weather"></div>
            <p id="currentTemp">...</p>
            <p id="currentWeather">...</p>
            <p id="windspeed">...</p>
            <div id="icon">...</div>
            <p>---------------------------------------</p>
            <h3> Did you know? </h3>
                <img class="animated-gif" src="../static/cycle.gif" alt="Gif">
            <div id="changeText" > Cycling is 3 times faster than walking </div>
                <script type="text/javascript">
                // To change what is being displayed after a certain amount of time - http://stackoverflow.com/questions/6398526/javascript-jquery-or-something-to-change-text-every-some-seconds
                var text = ["A bicycle can stay upright without a rider as long as it’s moving at 8mph or faster.", "The term \"bicycle\" first entered into popular usage in France in the 1860s.", "There are roughly one billion bicycles in the world (about twice as many as motor vehicles).", "Helmets have been found to be 85% effective in preventing head injury.", "Bicycles currently displace over 238 million gallons of gasoline per year, by replacing car trips with bicycle trips.", "Cycling is 3 times faster than walking"];
                var counter = 0;
                var elem = document.getElementById("changeText");
                setInterval(change, 6500);
                function change() {
                 elem.innerHTML = text[counter];
                    counter++;
                    if(counter >= text.length) { counter = 0; }
                }
                </script>
                </div>
                </div>
       
       <!--  To display stats - occupancy information etc.   -->
       <div class="container2">
       <div id="display" class="polaroid">
                <img id="image" src="../static/bikes.jpg" alt="BikeLane">
                <p id="availability"></p>
       </div>
	   <div class="stats" id ="daily_div"></div>
<!--	   <div class="stats" id="hourly_div"></div>           -->
       
       
       <form>
  <select day="day">
    <option value="Mon">Monday</option>
    <option value="Tue">Tuesday</option>
    <option value="Wed">Wednesday</option>
    <option value="Thu">Thursday</option>
    <option value="Fri">Friday</option>
    <option value="Sat">Saturday</option>
    <option value="Sun">Sunday</option>
  </select>
  <br><br>
  <input id ="hourly_div" type="button" value="Submit" onclick="getOccupancy.drawHourly(document.getElementById('hourly_div'))">
</form>
           </div>

       
       <footer> © Pamela Emma Katherine 2017 </footer>
   
   </body>
</html>