<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Google map API and key -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxBlIrPB6Cruhy5JHyTQO78wXKHiIj_mo"></script>
      <!-- For the jquery -->
      <script src="/static/js/jquery-3.2.0.min.js"></script>
      <!-- This is to get the _.ForEach working in the javaScript file -->
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
      <link href="/static/Style.css" rel="stylesheet" type="text/css">
      <title>Dublin Bikes</title>
   </head>
   <body>
      <h1>Dublin Bikes</h1>
      <div class="container">
         <div>
            <div id="map" style="width:100%;height:500px;">
               <script src="/static/js/mainScript.js"></script>
            </div>
         </div>
       </div>
       <div>
        <div>
            <!-- Placeholder for stats???  -->
            {% block content %}{% endblock %}
         </div>
         <!--Inserting space between map and stats-->
         <section>
         <p id="demo"></p>
          <p id="availability"></p>
            <p></p>
         </section>
         <!-- Inserting divs for stats -->
         <div class="left">
            <p> Input statistics here </p>
         </div>
         <div class="left">
            <p> More stats/graphs etc. here</p>
         </div>
                 </div>
       <br><br><br><br><br>
   
      <br><br>
   </body>
</html>