<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/Style.css" rel="stylesheet" type="text/css">
    <title>Dublin Bikes</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxBlIrPB6Cruhy5JHyTQO78wXKHiIj_mo">
    </script>
</head>

<body>
    <h1>Dublin Bikes</h1>
    <div class="container">
        <!-- Inputting the map adapted from https://www.w3schools.com/graphics/google_maps_intro.asp and https://developers.google.com/maps/documentation/javascript/adding-a-google-map-->

        <!-- Putting multiple markers on a map adapted from http://en.marnoto.com/2013/12/mapa-com-varios-marcadores-google-maps.html and https://gist.github.com/parth1020/4481893 -->
        <div id="map" style="width:100%;height:500px;"></div>
        <script type="text/javascript">
            var map;

            var xmlhttp = new XMLHttpRequest();
            var url = "Dublin.json";
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var parsedObj = JSON.parse(xmlhttp.responseText);
                    myMap(parsedObj);
                }
            }

            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            function myMap(obj) {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: new google.maps.LatLng(53.3438, -6.2546),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                // Info window from Google Map API https://developers.google.com/maps/documentation/javascript/examples/infowindow-simple    
                var infoWindow = new google.maps.InfoWindow();
                var marker, i;

                for (i = 0; i < obj.length; i++) {
                    var location = new google.maps.LatLng(obj[i].latitude, obj[i].longitude);
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: obj[i].name + " " + obj[i].number + " " + obj[i].address
                    });


                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infoWindow.setContent("Stop name: " + obj[i].name + "<br>" + "Address: " + obj[i].address + "<br>" + "Stop number: " + obj[i].number);
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));

                }
            }
        </script>

        <!--Inserting space between map and stats-->
        <section>
            <p></p>
        </section>

        <!-- Inserting divs for stats -->
        <div class="left">
            <p> Input statistics here </p>
        </div>
        <div class="right">
            <p> More stats/graphs etc. here</p>
        </div>
    </div>
</body>

</html>