body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1D8282;
    font-family: "calibri";
}

div.container {
    width: 90%;
    font-family: "calibri";
    background-color: white;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
}

/*Code for overflow was obtained from w3schools.com at http://www.w3schools.com/css/css_table.asp
The code for text shadow was adapted from w3schools at http://www.w3schools.com/cssref/css3_pr_text-shadow.asp
Code for box-shadow adapted from w3schools.com at http://www.w3schools.com/css/css3_images.asp */
div.left {
    float: left;
    left: 10px;
    padding: 10px;
    width: 45%;
    height: 150px;
    border: 2px solid black;
    color: black;
/*    text-shadow: 2px 1px black;*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    background: white;
}

div.right {
    background: white;
    float: right;
    right: 1px;
    padding: 10px;
    width: 45%;
    height: 150px;
    border: 2px solid black;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    
}